---
import { Picture } from "astro:assets";
import heroImage from "assets/astronauta.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
import ParticlesBackground from "@components/particles.astro";
import type { ISourceOptions } from "tsparticles-engine";

const options: ISourceOptions = {
  background: {
    color: "#ffffff",
  },
  fullScreen: {
    zIndex: -1,
  },
  interactivity: {
    modes: {
      bubble: {
        distance: 200,
        duration: 2,
        opacity: 0,
        size: 0,
        speed: 3,
      },
      repulse: {
        distance: 400,
        duration: 0.4,
      },
    },
  },
  particles: {
    color: { value: "#4D4D4D" },
    move: {
      direction: "none",
      enable: true,
      outModes: "out",
      random: true,
      speed: 0.3,
    },
    number: {
      density: {
        enable: true,
      },
      value: 600,
    },
    opacity: {
      animation: {
        enable: true,
        speed: 5,
      },
      value: { min: 0.3, max: 0.6 },
    },
    shape: {
      type: "circle",
    },
    size: {
      value: 1,
    },
  },
};
---

<ParticlesBackground options={options}>
<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  
    <div class="py-6 md:order-1 hidden md:block">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        Hey, mi nombre es Yeison.
      </h1>
      <p class="text-lg mt-4 text-slate-600 max-w-xl">
        <wbr /> +5 años de experiencia. Ingeniero de software senior de Medellín,
        Colombia 🇨🇴. Especializado en Crear Experiencias Digitales Impresionantes
        💥.
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="#"
          href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
          target="_blank"
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

          Descargar
        </Link>
        <Link
          size="lg"
          style="outline"
          rel="noopener"
          href="https://github.com/devyeisont/cv"
          class="flex gap-1 items-center justify-center"
          target="_blank">
          <Icon class="text-black w-5 h-5" name="bx:bxl-github" />
          DevYeisonT
        </Link>
      </div>
    </div>
</main>
</ParticlesBackground>